/* Limpando formatações padrão */
* {
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica,sans-serif;
    background: #e6e6e6;
}
h1{
    color: #ffffff;
    font-size: 2.5em;
}
a{
    text-decoration: none;
}
a:link, a:visited{
    padding: 15px 20px;
    color: white;

}
a:hover{
    background: white;
    color: rgb(132, 0, 255);
}
/*
    Layout

*/
#area-cabecalho{
    background: rgb(132, 0, 255);
    padding: 15px;
    text-align: center;
}
#area-logo, #are-menu{
    padding: 15px;
}
#area-principal{
    width: 920px;
    margin: 0 auto;
}
#area-postagens{
    width: 660px;
}
#area-lateral{
    width: 240px;
}

.preto{
    color: rgba(0, 0, 0, 0.712);
}