/* Limpando formatações padrão */
* {
    margin: 0;
    padding: 0;
}
body{
    color: white;
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica,sans-serif;
    background: #c3c3c3;
}
h1{
    color: #ffffff;
    font-size: 2.5em;
}

a{  
    text-decoration: none;
    font-weight: bold;
}
a:link, a:visited{
    padding: 15px 20px;
    color: white;

}
a:hover{

    color: rgb(132, 0, 255);
}
/*
    Layout

*/
#area-cabecalho{
    background: #000000;
    padding: 15px;
 
}
#area-logo{
    padding: 15px;
    text-align: center;
    /* border: 1px solid red; */
} 
#area-menu{
    width: 300px;
    /* border: 1px solid red; */
    padding: 15px;
}
#area-principal{
    height: 501px;
    /* border: 1px solid red; */
    margin: 0 auto;
    background: rgb(119, 0, 255);
   
}
#area-titulo{
    float: left;
    padding: 10px;
    width:100px;
    margin: 80px 100px;
    /* border: 1px solid red; */
    position: absolute;
}
#area-meio{
    width: 500px;
    /* border: 1px solid red; */
    float: left;
    position: absolute;
    margin: 150px 80px;
}
#frase-titulo{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
#frase-texto{
    font-size: 30px;
    text-align: left;
}
#area-baixo{
    width: 650px;
   /* border: 1px solid red; */
    float: left;
    position: absolute;
    margin: 290px 110px;
    
}
#area-botao{
    height: 20px;
    width: 220px;
    /*border: 1px solid red;*/
    float: left;
    margin: 380px 90px;
    position: absolute;
    padding: 10px;
    text-align: center;
}
#botao{
  background: rgb(255, 49, 162);
  border-radius: 45px;
}
#user{
    width: 220px;
   /* border: 1px solid red; */
    float: right;
    padding: 15px;

}
#direitos{
    color: rgba(0, 0, 0, 0.712);
    font-size: 15px;
    text-align: center;
}

.preto{
    color: rgba(0, 0, 0, 0.712);
}